// TODO: 能不能用波浪线代替路径
@import '../../../styles/common';

.page-my-data {
  .blue-box {
    justify-content: center;
  }

  .title-of-blue {
    margin-bottom: 40 * @px;
  }

  .info {
    height: 280 * @px;
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: center;
  }
  .item-detail-hide {
    display: none;
  }
  .item-detail {
    padding: 10px 15px;
    text-align: left;
  }
}
