@import "../../styles/common";

.contract-project-item {
  width: @contract-item-width;
  height: 350 * @px;
  background: @white-text-color;
  padding: 40 * @px 30 * @px;
  position: relative;
  box-sizing: border-box;
  .progress-box {
    width: @contract-item-width - (2 * 30 * @px);
    top: 40 * @px;
    position: absolute;
    display: flex;
    font-size: @h5;
    color: @main-text-color;
    align-items: center;
    .am-progress-outer {
      //width: 400 * @px;
      flex: 1;
      margin-right: 20 * @px;
      background-color: #DDEDE9;
      .am-progress-bar {
        border: 5 * @px solid @main-color;
        border-radius: 5 * @px;
      }
    }
    .progress-text {
      width: 110 * @px;
      text-align: left;
      div:first-child {
        margin-bottom: 10 * @px;
      }

      //background: @screen-text-color;
    }
  }

  .info-box {
    display: flex;
    margin-top: 73 * @px;
    text-align: left;
    .annul-box {
      color: @annual-rate-color;
      .title {
        font-size: @h7;
      }
      .number {
        font-size: 54 * @px;
        font-weight: 500;
        margin-top: 25 * @px;
        line-height: 1;
      }
    }
    .name-box {
      margin-left: 73 * @px;
      color: @main-text-color;
      .project-name {
        font-size: @h2;
      }
      .capacity {
        margin-top: 30 * @px;
        font-size: @h5;
      }
    }
  }



  .bottom-box {
    position: absolute;
    bottom: 40 * @px;
    left: 15 * @px;
    display: flex;
    width: @contract-item-width - 15 * @px * 2;
    height: 62 * @px;
    justify-content: space-between;
    align-items: center;
    color: @main-text-color;
    font-size: @h4;
    padding: 22 * @px 15 * @px;
    background: @white-grey;
    margin-top: 46 * @px;
    box-sizing: border-box;
    .enterprise-name {

    }
    .created-at {

    }
  }

}