@import '../../../styles/common';

.page-sun-integral {
  .integral {
    padding: 15px 15px 0 15px;
    background: @white-text-color;

    .integral-survey {
      text-align: left;
      .number {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 500;
        color: @blue-text-color;
      }
    }
    .integral-list {
      margin-top: 20px;
      text-align: left;
      color: @light-text-color;

      .title {
        margin-bottom: 40 * @px;
      }

      .am-list-body::after,
      .am-list-body::before {
        background-color: transparent!important;
      }

      .integral-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 84 * @px;
        border-bottom: 1px solid @white-grey;
      }
    }
  }
}
