@import '../../../styles/common';

#page-contract {
  #_contract_body {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .am-list-view-scrollview {
    //height: 900px;
  }
  .contract-project-item {
    margin: 20 * @px auto 0 auto;
    &:first-child {
      margin-top: 0;
    }
  }

}