@import '../../../styles/common';

#page-contract {
  .am-list-view-scrollview {
    //height: 900px;
  }
  .am-list-body {
    background: transparent;
    &::before {
      background-color: transparent;
    }
  }
  .contract-project-item {
    margin: 20 * @px auto 0 auto;
  }

}