@import '../../../../styles/common';

.page-reset-trade-pw {
  .page-with-header {
    min-height: 100vh;
    background: @white-text-color;
  }
  .progress-prompt {
    background: @default-bg;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    .line {
      width: 200 * @px;
      border-bottom: 1px dashed @light-text-color;
      margin-top: -16px;
      margin-left: -5px;
    }
    .progress {
      .number {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        color: @white-text-color;
        font-size: 24px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: @main-color;
      }
    }
    .progress-no {
      color: @light-text-color;
      .number {
        background: @light-text-color;
      }
    }
  }
  .green-button {
    margin-top: 220 * @px;
  }
  .step-show {
    padding-top: 40 * @px;
  }
  .step-hide {
    display: none;
  }
}
