@import '../../../styles/common';

#page-my-project-list {
  width: 100%;
  .am-list-view-scrollview {
    -webkit-overflow-scrolling: touch;
  }
  .am-list-body {
    background: transparent;
    &::before {
      background-color: transparent;
    }
  }
  .contract-project-item {
    margin: 20 * @px auto 0 auto;
  }

}