@import '../../../styles/common';
@list-item-height: 106 * @px;
.page-reset-pw {
  a {
    color: @main-text-color;
  }
  .body {
    margin-top: 90 * @px;
  }
  .green-button {
    margin-top: 150 * @px;
  }
  .am-list {
    .am-list-item {
      height: @list-item-height;
      line-height: @list-item-height;
    }
    .am-list-content {
      color: @main-text-color;
      font-size: @h3;
    }
    .am-list-item:not(:last-child),
    a {
      border-bottom: 1px solid @white-grey;
    }
    a {
      display: block;
    }

    .am-list-body .am-list-item .am-list-line::after {
      background-color: transparent;
    }
  }
}
