@import '../../../styles/common';

.page-powerStation-info {
  .blue-box {
    height: 400px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
    color: @white-text-color;
    height: 40px;
    .weather {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .iconfont {
        font-size: 34px;
      }
    }
    .screen {
      display: flex;
      div {
        padding: 7px;
        margin-left: 10px;
        background: @blue-color-bg;
        border-radius: 15px;
      }

      .selected {
        background: @assist-color;
      }
    }
  }
  #pie-bar-chart {
    width: 94%;
    margin: 0 auto;
    height: 300px;
  }
  .type {
    display: flex;
    justify-content: space-between;
    background: @white-text-color;
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 20px @shadow-color;
    .type-item {
      width: 25%;
      padding: 10px;
      background: #ccc;
      border-radius: 5px;
    }
  }
  .detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    background: @white-text-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 20px @shadow-color;
    .detail-item {
      width: 25%;
      padding: 5px 10px;

      .number {
        font-size: 16px;
        color: @main-color;
        font-weight: bold;
      }
      .detail-type {
        margin-top: 5px;
        color: @light-text-color;
        font-size: 12px;
      }
    }
  }
  .equipment {
    margin-top: 10px;
    .item {
      background: @white-text-color;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      .item-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        background: @light-blue-bg;
        border-radius: 25px;
        height: 50px;
        width: 50px;
        .iconfont {
          margin-top: 6px;
          color: @white-text-color;
          font-size: 40px;
        }
        .icon-shebeiguanli {
          font-size: 28px;
        }
      }
      .item-detail {
        text-align: left;
        .item-info {
          margin-top: 5px;
          color: @light-text-color;
        }
      }
      .am-icon-right {
        color: @light-text-color;
      }
    }
  }
}

.am-popover {
  .am-popover-item-container {
    padding: 0;
    .am-popover-item-content {
      display: flex;
      align-items: center;

      .am-icon {
        height: 16px;
        width: 16px;
        margin-right: 3px;
      }
    }
  }
}
