@import '../../../styles/common';

.page-powerStation-info {
  height: 100%;
  overflow-y: scroll;
  .blue-box {
    height: 400px;
    position: relative;
  }
  .block-chain-header {
    .right {
      padding-right: 10px;
      text-align: right;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    color: @white-text-color;
    height: 40px;
    .weather {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .weather-pic {
        height: 25px;
        margin-right: 5px;
      }
      .iconfont {
        font-size: 28px;
        margin-right: 6px;
      }
    }
    .screen {
      display: flex;
      div {
        height: 34px;
        width: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        background: @blue-color-bg;
        border-radius: 17px;
      }

      .selected {
        background: @assist-color;
      }
    }
  }
  .pic-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-top: 8px;
      color: @help-text-color;
    }
  }
  .special-one {
    position: absolute;
    top: 125px;
    width: 50%;
    margin-left: 25%;
    span {
      color: @white-text-color;
    }
  }
  #pie-bar-chart {
    width: 94%;
    position: absolute;
    top: 60px;
    margin: 0 3%;
    height: 280px;
  }
  .type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: @white-text-color;
    width: 680 * @px;
    height: 147 * @px;
    margin: 0 auto;
    margin-top: -50px;
    border: 1px solid @grey-border-color;
    border-radius: @border-radius;
    box-shadow: 0 5px 20px @grey-border-color;
    position: relative;
    .type-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200 * @px;
      border-radius: 5px;
      color: @white-text-color;
      .iconfont {
        font-size: 30px;
        margin-left: 10px;
      }
    }
    .power {
      height: 73 * @px;
      background: linear-gradient(to bottom, #ffe31f, #fba316);
    }
    .elec {
      height: 73 * @px;
      background: linear-gradient(to bottom, #16cbff, #1ca4fe);
    }
    .profit {
      height: 73 * @px;
      background: linear-gradient(to bottom, #fb7ba3, #f44c78);
    }
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 680 * @px;
    height: 275 * @px;
    margin: 0 auto;
    background: @white-text-color;
    //padding: 10px;
    box-sizing: border-box;
    border-radius: @border-radius;
    border: 1px solid @grey-border-color;
    box-shadow: 0 5px 20px @grey-border-color;
    .detail-row {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .detail-item {
      width: 200 * @px;
      padding: 10px 0 10px 10px;

      .number {
        font-size: 40 * @px;
        color: @main-color;
        font-weight: bold;
        text-align: left;
      }
      .detail-type {
        margin-top: 5px;
        color: @help-text-color;
        font-size: @h5;
        text-align: left;
      }
    }
  }
  .equipment {
    margin-top: 10px;
    .loading {
      height: 200px;
      background: @white-text-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.am-popover {
  .am-popover-item-container {
    padding: 0;
    .am-popover-item-content {
      display: flex;
      align-items: center;

      .am-icon {
        height: 16px;
        width: 16px;
        margin-right: 3px;
      }
    }
  }
}
