@import "../../../styles/common";

.page-verifyID {
  .blue-box {
    height: 220 * @px;
    margin-top: 24 * @px;
    justify-content: center;
  }

  .green-button {
    margin-top: 80 * @px;
    margin-bottom: 80 * @px;
  }

  .title-of-blue {
  }

  .click-picture {
    margin-top: 20 * @px;
  }

  .white-area {
    background: @white-text-color;
    padding-bottom: 30px;
  }

  .tips-box {
    background: #f7f7f7;
    color: @help-text-color;
    text-align: left;
    padding: 10px;
    .title {
      font-size: @h3;
      margin-bottom: 10px;
    }
    font-size: @h4;
  }
}
