@import "../../../styles/common";

.page-verifyID {
  .blue-box {
    height: 220 * @px;
    margin-top: 24 * @px;
    justify-content: center;
  }

  .green-button {
    margin-top: 260 * @px;
  }

  .title-of-blue {
    font-size: @h2;
    color: white;
  }
}
