// 响应式
// 实际长度 = 设计长度 * @scale
// @scale = 实际屏宽 / 设计屏宽
@px: 100vw / 750px;

// color
@deep-bg: #0d926e;
@main-color: #00863c;
@common-bg: #0eae82;
@assist-color: #5bd121;
@light-theme-bg: #a1d7c8;
@more-light-theme-bg: #eff8ef;
@default-bg: #f5f5f9;
@equipment-icon-bg: #82ad82;
@sun-color: #ffdf11;
@shadow-color: #dddddd;
@green-shadow-color: rgba(14, 174, 130, 0.51);
@theme-border-color: #74dcbf;
@pink-color: #ea446e;
@white-grey: #f7f7f7;
@grey-border-color: #ddd;
@pie-color: #31deaf;
@invite-color: #edf8f5;


@main-text-color: #333333;
@light-text-color: #ddd;
@help-text-color: #bab9b9;
@icon-color: #cdcdcd;
@theme-text-color: #00863c;
@white-text-color: #ffffff;
@orange-text-color: #fa5a21;
@screen-text-color: #888888;

// 积分类型
@power-color: #96cbfa;
@recommend-color: #faae96;
@transfer-color: #fa9696;
@admission-color: #78ce86;
@exchange-color: #b296fa;

//gradient
@orange-gradient-start: #fdc51d;
@orange-gradient-end: #f28302;

// border-radius
@border-radius: 8px;
@big-border-radius: 20px;

// 最常用的item高度
@list-item-height: 106 * @px;
@header-height: 90 * @px;

//font-size
@h1: 40 * @px;
@h2: 36 * @px;
@h3: 28 * @px;
@h4: 26 * @px;
@h5: 24 * @px;
@h6: 22 * @px;
@h7: 20 * @px;
