// 响应式
// 实际长度 = 设计长度 * @scale
// @scale = 实际屏宽 / 设计屏宽
@px: 100vw / 750px;

// color
@deep-blue-bg: #024dc8;
@main-color: #0082f6;
@blue-color-bg: #0d88f6;
@assist-color: #5bd121;
@light-blue-bg: #86c3f8;
@white-blue-bg: #f4f9fe;
@default-bg: #f5f5f9;
@sun-color: #ffdf11;
@shadow-color: #ccc;
@green-shadow-color: rgba(83, 180, 28, 0.51);
@bule-border: #359df9;
@pink-color: #ea446e;
@white-grey: #f7f7f7;
@grey-border-color: #ddd;

@main-text-color: #333333;
@light-text-color: #ddd;
@help-text-color: #bab9b9;
@icon-color: #cdcdcd;
@blue-text-color: #0082f6;
@white-text-color: #ffffff;
@orange-text-color: #fa5a21;

// border-radius
@border-radius: 8px;
@big-border-radius: 20px;

// 最常用的item高度
@list-item-height: 106 * @px;

//font-size
@h1: 40 * @px;
@h2: 36 * @px;
@h3: 28 * @px;
@h4: 26 * @px;
@h5: 24 * @px;
@h6: 22 * @px;
@h7: 20 * @px;
