// 响应式
// 实际长度 = 设计长度 * @scale
// @scale = 实际屏宽 / 设计屏宽
@px: 100vw / 750px;

// color
@main-color: #0082f6;
@assist-color: #5bd121;

@main-text-color: #333333;
@help-text-color: #bab9b9;
@icon-color: #cdcdcd;
@blue-text-color: #0082f6;
@orange-text-color: #fa5a21;



