@import '../../styles/common';

.common-title {
  display: flex;
  align-items: center;
  //height: 55px;
  text-align: left;
  font-size: @h2;
  margin: 36 * @px;
  //&::before {
  //  content: '';
  //  display: inline-block;
  //  height: 22px;
  //  width: 4px;
  //  background: @main-color;
  //  margin-right: 10px;
  //}
}
