@import "../styles/common";

.am-list-item .am-input-control input {
  font-size: @h3;
}
.am-list-item .am-input-control input::placeholder { color: @help-text-color; }
.am-list-item .am-input-control input::-moz-placeholder { color: @help-text-color; }
.am-list-item .am-input-control input::-webkit-input-placeholder { color:@help-text-color; }
.am-list-item .am-input-control input:-ms-input-placeholder { color: @help-text-color; }
.am-list-item.am-input-item {
  height: 95 * @px;
}

html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after {
  background-color: transparent;
}
