@import "../styles/common";

.am-list-item .am-input-control input {
  font-size: @h3;
}
.am-list-item .am-input-control input::placeholder { color: @help-text-color; }
.am-list-item .am-input-control input::-moz-placeholder { color: @help-text-color; }
.am-list-item .am-input-control input::-webkit-input-placeholder { color:@help-text-color; }
.am-list-item .am-input-control input:-ms-input-placeholder { color: @help-text-color; }
.am-list-item.am-input-item {
  height: 95 * @px;
}

.am-action-sheet-button-list-item {
  font-size: @h3;
}

.am-list-item .am-list-line .am-list-arrow {
  width: 12px;
  height: 12px;
}
