@import "../../styles/common";

.green-button{
  background: @common-bg;
  border-radius: @border-radius;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 20px @green-shadow-color;
  border: none;
}

.green-button.big {
  width: 620 * @px;
  height: 100 * @px;
  line-height: 100 * @px;
}

.green-button.medium {
  width: 300 * @px;
  height: 70 * @px;
  line-height: 70 * @px;
}

.green-button.small {
  width: 246 * @px;
  height: 70 * @px;
  line-height: 70 * @px;
}
