@import '../../../styles/common';

#page-my-station {
  .blue-box {
    height: 75 * @px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40 * @px;
  }
  .station-list {
    padding: 0 10px;
    .pic-wrap {
      height: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      span {
        margin-top: 8px;
        color: @help-text-color;
      }
    }
  }
}
