@import "../../../styles/common";

.page-login {
  .title {
    padding-top: 160 * @px;
  }

  .body {
    width: 620 * @px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140 * @px;
  }

  .green-button {
    margin-top: 150 * @px;
  }
}