@import '../../styles/common';
.page-sunCity-info {
  overflow-x: hidden;
  height: 100%;
  .notice {
    text-align: left;
    padding: 5px * @px 10px * @px;
    background: @deep-blue-bg;
    color: @white-text-color;
  }
  .am-notice-bar {
    height: 35px;
    background: @deep-blue-bg;
    color: @white-text-color;
    .am-notice-bar-content {
      text-align: left;
    }
  }
  .sun-content {
    height: 421px;
    background: url('../../images/sunBg.png');
    background-size: cover;
    .info {
      display: flex;
      height: 100px;
      justify-content: space-between;
      padding-left: 20px;
      .detail {
        min-width: 106px;
        margin-top: 20px;
        text-align: left;
        color: @white-text-color;
        div {
          margin-top: 10px;
          font-size: 12px;
          span {
            color: @light-blue-bg;
          }
        }
        .person-info {
          font-size: 14px;
          margin-top: 0;
          display: flex;
          align-items: center;
          height: 30px;
          background: @light-blue-bg;
          border-radius: 15px;
          color: @main-color;
          position: relative;
          .nick-name {
            min-width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 5px;
            min-height: 10px;
            padding: 0 5px;
            color: @main-color;
          }
          .am-icon-md {
            width: 18px;
            height: 18px;
          }
        }
      }
      .powerStation {
        width: 75px;
        margin-top: 65px;
        height: 30px;
        padding: 0 10px 0 35px;
        font-size: 14px;
        display: flex;
        align-items: center;
        background: @light-blue-bg;
        color: @main-color;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        position: relative;
        .powerStation-pic {
          font-size: 45px;
          position: absolute;
          left: -8px;
          top: -10px;
          color: @pink-color;
        }
      }
    }
    .sun-items {
      height: calc(100% - 100px);
      position: relative;
      @keyframes slidein {
        from {
          margin-top: 0;
        }
        to {
          margin-top: 6px;
        }
      }
      .sun {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        position: absolute;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        .sun-pic {
          display: inline-block;
          height: 40px;
          width: 40px;
          background: url('../../images/sun.png');
          background-size: 100%;
        }
        .sun-number {
          color: @sun-color;
          font-size: 12px;
          margin-top: 3px;
        }
      }
      @keyframes disappear {
        from {
          opacity: 1;
        }
        to {
          top: -100px;
          opacity: 0;
        }
      }
      .remove {
        animation-duration: 1s;
        animation-name: disappear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
    .news {
      width: 90%;
      height: 44px;
      background: @white-text-color;
      margin: 0 auto;
      margin-top: -10px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      border-radius: 5px;
      box-shadow: 0 5px 20px @shadow-color;
      span {
        background: @main-color;
        padding: 7px 5px;
        color: @white-text-color;
        margin-right: 5px;
        border-radius: 5px;
      }
    }
    .promote {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      background: @white-text-color;
      height: 80px;
      margin-top: 20px;
      div {
        &:nth-child(2) {
          margin-top: 5px;
          font-size: 18px;
          span {
            color: #f00;
          }
        }
      }
    }
    .equipment {
      .item {
        background: @white-text-color;
        margin: 0 10px 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px 15px 25px;
        border-radius: @border-radius;
        .item-pic {
          display: flex;
          justify-content: center;
          align-items: center;
          background: @light-blue-bg;
          border-radius: 28px;
          height: 56px;
          width: 56px;
          .iconfont {
            margin-top: 6px;
            color: @white-text-color;
            font-size: 40px;
          }
          .icon-shebeiguanli {
            font-size: 28px;
          }
        }
        .item-detail {
          width: 65%;
          text-align: left;
          .item-info {
            margin-top: 5px;
            color: @help-text-color;
          }
        }
        .am-icon-right {
          color: @help-text-color;
        }
      }
      .loading {
        height: 200px;
        background: @white-text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        .pic-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin-top: 8px;
            color: @help-text-color;
          }
        }
      }
    }
  }
}
