@import '../../styles/common';
.page-sunCity-info {
  .notice {
    text-align: left;
    padding: 5px * @px 10px * @px;
    background: @deep-blue-bg;
    color: @white-text-color;
  }
  .am-notice-bar {
    background: @deep-blue-bg;
    color: @white-text-color;
  }
  .sun-content {
    height: 421px;
    background: url('../../images/sunBg.png');
    background-size: 100%;
    .info {
      display: flex;
      height: 90px;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      .detail {
        text-align: left;
        color: @white-text-color;
        div {
          margin-top: 8px;
          font-size: 12px;
          span {
            color: @light-blue-bg;
          }
        }
        .person-info {
          font-weight: bold;
          display: flex;
          align-items: center;
          height: 25px;
          padding: 0 5px 0 30px;
          background: @light-blue-bg;
          border-radius: 15px;
          color: @main-color;
          position: relative;
          .person-pic {
            height: 25px;
            width: 25px;
            border-radius: 15px;
            position: absolute;
            left: 0;
          }
          .am-icon-md {
            width: 18px;
            height: 18px;
          }
        }
      }
      .powerStation {
        height: 25px;
        padding: 0 10px 0 30px;
        font-size: 12px;
        display: flex;
        align-items: center;
        background: @light-blue-bg;
        color: @main-color;
        border-radius: 12px;
        position: relative;
        .powerStation-pic {
          font-size: 40px;
          position: absolute;
          left: -8px;
          top: -8px;
          color: @pink-color;
        }
      }
    }
    .sun-items {
      height: calc(100% - 90px);
      position: relative;
      @keyframes slidein {
        from {
          margin-top: 0;
        }
        to {
          margin-top: 6px;
        }
      }
      .sun {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        position: absolute;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        .sun-pic {
          display: inline-block;
          height: 40px;
          width: 40px;
          background: url('../../images/sun.png');
          background-size: 100%;
        }
        .sun-number {
          color: @sun-color;
          font-size: 12px;
          margin-top: 3px;
        }
      }
      @keyframes disappear {
        from {
          opacity: 1;
        }
        to {
          top: 0;
          opacity: 0;
        }
      }
      .remove {
        animation-duration: 1s;
        animation-name: disappear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
    .news {
      width: 80%;
      background: @white-text-color;
      margin: 0 auto;
      margin-top: -10px;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      box-shadow: 0 5px 20px @shadow-color;
      span {
        background: @main-color;
        padding: 3px 5px;
        color: @white-text-color;
        margin-right: 5px;
        border-radius: 5px;
      }
    }
    .promote {
      padding: 10px;
      text-align: left;
      background: @white-text-color;
      height: 70px;
      margin-top: 20px;
      div {
        &:nth-child(2) {
          font-size: 18px;
          span {
            color: #f00;
          }
        }
      }
    }
    .equipment {
      .item {
        background: @white-text-color;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .item-pic {
          display: flex;
          justify-content: center;
          align-items: center;
          background: @light-blue-bg;
          border-radius: 25px;
          height: 50px;
          width: 50px;
          .iconfont {
            margin-top: 6px;
            color: @white-text-color;
            font-size: 40px;
          }
          .icon-shebeiguanli {
            font-size: 28px;
          }
        }
        .item-detail {
          text-align: left;
          .item-info {
            margin-top: 5px;
            color: @light-text-color;
          }
        }
        .am-icon-right {
          color: @light-text-color;
        }
      }
    }
  }
}
