@import '../../../styles/common';

#page-share-confirm {
  color: @main-text-color;
  #body_of_pageWithHeader {
    //display: flex;
    //flex-direction: column;
    position: relative;
  }

  .count-down-wrap {
    width: @contract-item-width;
    height: 416 * @px;
    margin: 0 auto;
    background: @white-text-color;
    text-align: left;
    border-radius: @border-radius;
    box-sizing: border-box;
    padding: 50 * @px 30 * @px;
    .title {
      font-size: 42 * @px;

    }
    .title:first-child {
      margin-bottom: 20 * @px;
    }

    .count-down-box {
      font-size: @h5;
      margin-top: 52 * @px;
      .count-down-num {
        display: inline-block;
        background: @annual-rate-color;
        color: white;
        width: 30 * @px;
        height: 42 * @px;
        font-size: @h2;
        line-height: 42 * @px;
        text-align: center;
        &.even {
          margin-left: 5 * @px;
        }
        &.odd {
          margin: 0 5 * @px;
        }
      }
    }

    .warn {
      font-size: @h5;
      color: @annual-rate-color;
      margin-top: 37 * @px;
      line-height: 40 * @px;
    }
  }

  .pay-wrap {
    width: @contract-item-width;
    height: 349 * @px;
    margin: 20 * @px auto 0 auto;
    background: @white-text-color;
    text-align: left;
    border-radius: @border-radius;
    box-sizing: border-box;
    padding: 50 * @px 30 * @px;
    .info-title {
      font-size: @h4;
      margin-bottom: 41 * @px;
    }

    .info-item {
      font-size: @h3;
      color: @screen-text-color;
      margin-bottom: 20 * @px;
    }
  }

  .pay-tip {
    font-size: @h5;
    margin-top: 33 * @px;
    margin-bottom: 344 * @px;
  }

  .btn-wrap {
    width: 100vw;
    display: flex;
    position: absolute;
    bottom: 0;
    .am-button {
      flex: 1;
      height: 100 * @px;
      border-radius: 0;
      &::before {
        border-radius: 0!important;
      }

    }
  }
}